<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>reporte-ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">reporte-ventas</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Reporte de ventas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col >
            <ion-item>
              
              <ion-select label="Selecciona un año" label-placement="floating" placeholder="Selecciona un año" [value]="selectedYear" (ionChange)="onYearChange($event)">
                <ion-select-option *ngFor="let year of years" [value]="year">{{year}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
          <ion-col>
            <ion-item>
              <ion-select label="Selecciona un mes" label-placement="floating" placeholder="Selecciona un mes" (ionChange)="onMonthChange($event)">
                <ion-select-option *ngFor="let month of months" [value]="month.name">{{month.name}}</ion-select-option>
              </ion-select>
            </ion-item>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="selectedMonth">
          
              <ion-grid>
                <ion-row class="ion-align-items-center ion-justify-content-center">
                  <ion-col size="auto">
                    <h1>{{ selectedMonth.name }}</h1>
                  </ion-col>
                  <ion-col class="alineando" size="auto">
                    <ion-button  shape="round">Generar Reporte</ion-button>
                  </ion-col>
                </ion-row>
              </ion-grid>
        </ion-row>
        <ion-row>
          <div *ngIf="chartOptions && chartOptions.data && chartOptions.data.length > 0">
            <canvasjs-chart style="align-items: center;" id = "myChart"[options]="chartOptions" [styles]="{ width: '350px', height:'300px'}"></canvasjs-chart>
          </div> 
        </ion-row>
      </ion-grid>

      <div class="split-screen">
        <div class="left-panel">
          <ion-list *ngIf="selectedMonth">
            <ion-card *ngFor="let week of selectedMonth.weeks" (click)="selectWeek(week)" >
              <ion-card-content>
                <div style="display: flex; justify-content: space-between; align-items: center;">
                  <div>
                    <ion-label>{{ week.name }}</ion-label>
                    <br>
                    <ion-note>Del {{ week.startDate }} al {{ week.endDate }}</ion-note>
                  </div>
                  <ion-icon name="download" ></ion-icon>
                </div>
              </ion-card-content>
            </ion-card>
          </ion-list>
        </div>


       <!-- Contenedor para las ventas de la semana seleccionada -->
    <div class="right-panel" *ngIf="selectedWeek">
      <!-- Lista de ventas -->
      <ion-card class="cardVentas">
        <ion-list >
          <ion-list-header>
            Ventas de la semana {{ selectedWeek.name }}

          </ion-list-header>
          <ion-card *ngFor="let venta of ventas; let i = index" (click)="selectVenta(venta)">
            <ion-card-content>
              <ion-label>
                    Venta #{{i+1}} Total: {{venta.totalPagar | currency}}
              </ion-label>
            </ion-card-content>
          </ion-card>
        </ion-list>
        <!-- Mensaje si no hay ventas -->
        <div *ngIf="ventas.length === 0">
          <ion-card>
            <ion-card-content>
              <p>Ventas de la  {{selectedWeek.name}}</p>
            <p>No hay ventas para mostrar en esta semana.</p>
            </ion-card-content>
          </ion-card>

          
        </div>
      </ion-card>
      
    </div>
      
      </div>
      
    </ion-card-content>
  </ion-card>


</ion-content>
