ion-card-header{
    align-items: center;
}

ion-item{
    margin-top: 10px;
    margin-bottom: 0;
    width: auto;
    height: auto;

}
ion-select{
    border-radius: 5%;
}
.alineando{
    text-align: right;
    margin-top: 20px; 
  }